In [1]:
import pandas as pd

# Data Cleaning

In [12]:
# Load files
tech_data=pd.read_csv("Resources/Tech_data.csv")
tech_data.head()

,date,acn_volume,adbe_volume,amd_volume,crm_volume,ibm_volume,intc_volume,intu_volume,nflx_volume,sony_volume,...,acn_low,adbe_low,amd_low,crm_low,ibm_low,intc_low,intu_low,nflx_low,sony_low,txn_low
0,2013-01-18,2271600,5561400,41786200,6346000,4769342,143760400,1227500,35999600,9285500,...,69.410004,37.360001,2.43,41.910000,185.277252,21.030001,62.980000,14.097143,12.48,33.020000
1,2013-01-22,3331900,2475400,35143000,7501600,7502226,51127400,1155200,22773100,8125000,...,69.790001,37.570000,2.43,41.529999,185.478012,21.030001,62.950001,13.798571,13.11,33.130001
2,2013-01-23,3591100,3309000,69200500,5760000,13106903,42432300,1479100,74235000,3233100,...,70.440002,37.889999,2.59,41.790001,194.416824,21.040001,63.650002,13.860000,13.08,32.799999
3,2013-01-24,2608500,2605600,32497200,5149600,4651771,58396800,1679700,118805400,4676900,...,70.680000,37.990002,2.67,42.622501,194.149139,20.930000,63.490002,19.945715,13.36,33.009998
4,2013-01-25,2908200,3273000,33639700,6508000,3513409,107632800,1516100,191445800,6596300,...,71.010002,38.020000,2.82,43.152500,195.152969,20.879999,63.480000,20.801430,14.25,32.709999

In [13]:
# Check data types
tech_data.dtypes

date            object
acn_volume       int64
adbe_volume      int64
amd_volume       int64
crm_volume       int64
ibm_volume       int64
intc_volume      int64
intu_volume      int64
nflx_volume      int64
sony_volume      int64
txn_volume       int64
acn_high       float64
adbe_high      float64
amd_high       float64
crm_high       float64
ibm_high       float64
intc_high      float64
intu_high      float64
nflx_high      float64
sony_high      float64
txn_high       float64
acn_low        float64
adbe_low       float64
amd_low        float64
crm_low        float64
ibm_low        float64
intc_low       float64
intu_low       float64
nflx_low       float64
sony_low       float64
txn_low        float64
dtype: object

In [14]:
# Check Nulls
tech_data.isnull().sum()

date           0
acn_volume     0
adbe_volume    0
amd_volume     0
crm_volume     0
ibm_volume     0
intc_volume    0
intu_volume    0
nflx_volume    0
sony_volume    0
txn_volume     0
acn_high       0
adbe_high      0
amd_high       0
crm_high       0
ibm_high       0
intc_high      0
intu_high      0
nflx_high      0
sony_high      0
txn_high       0
acn_low        0
adbe_low       0
amd_low        0
crm_low        0
ibm_low        0
intc_low       0
intu_low       0
nflx_low       0
sony_low       0
txn_low        0
dtype: int64

In [16]:
X=tech_data.drop(columns='date')
X

,acn_volume,adbe_volume,amd_volume,crm_volume,ibm_volume,intc_volume,intu_volume,nflx_volume,sony_volume,txn_volume,...,acn_low,adbe_low,amd_low,crm_low,ibm_low,intc_low,intu_low,nflx_low,sony_low,txn_low
0,2271600,5561400,41786200,6346000,4769342,143760400,1227500,35999600,9285500,13294700,...,69.410004,37.360001,2.430000,41.910000,185.277252,21.030001,62.980000,14.097143,12.480000,33.020000
1,3331900,2475400,35143000,7501600,7502226,51127400,1155200,22773100,8125000,13045800,...,69.790001,37.570000,2.430000,41.529999,185.478012,21.030001,62.950001,13.798571,13.110000,33.130001
2,3591100,3309000,69200500,5760000,13106903,42432300,1479100,74235000,3233100,9516500,...,70.440002,37.889999,2.590000,41.790001,194.416824,21.040001,63.650002,13.860000,13.080000,32.799999
3,2608500,2605600,32497200,5149600,4651771,58396800,1679700,118805400,4676900,7827500,...,70.680000,37.990002,2.670000,42.622501,194.149139,20.930000,63.490002,19.945715,13.360000,33.009998
4,2908200,3273000,33639700,6508000,3513409,107632800,1516100,191445800,6596300,8436000,...,71.010002,38.020000,2.820000,43.152500,195.152969,20.879999,63.480000,20.801430,14.250000,32.709999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,1853000,1670200,41149600,6527700,2152100,23008100,1069900,13072300,796100,4267700,...,271.269989,336.799988,66.559998,145.600006,142.899994,28.920000,385.529999,311.070007,81.110001,175.830002
2512,2382400,2344400,44470100,13595000,3268700,30375400,1587300,9579700,721600,5013900,...,274.709991,333.470001,67.220001,143.559998,143.449997,29.000000,384.290009,321.350006,83.790001,176.929993
2513,2482500,2121800,70066200,11678000,2715900,28963900,1099000,10856200,1113100,4324900,...,282.369995,337.369995,67.180000,143.940002,144.520004,29.469999,386.029999,323.140015,84.339996,176.990005
2514,2226800,2581900,45719500,8376200,2455700,31346800,1311100,8277200,994400,3735900,...,278.980011,335.500000,69.230003,146.089996,144.009995,29.809999,386.459991,328.890015,84.160004,176.220001
2515,2863700,2512700,42621300,9407600,2986500,34759100,1658700,9247000,891000,5659400,...,282.339996,341.970001,70.650002,146.100006,145.009995,29.520000,386.750000,323.600006,86.279999,175.300003

# Preprocessing

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler=MinMaxScaler().fit(X)

In [19]:
X_scaled=scaler.transform(X)
X_scaled

array([[6.28147945e-02, 1.82459359e-01, 1.28549824e-01, ...,
        4.44110954e-04, 0.00000000e+00, 4.97393783e-03],
       [1.01015269e-01, 6.92158086e-02, 1.08112881e-01, ...,
        0.00000000e+00, 5.43900553e-03, 5.63313960e-03],
       [1.10353723e-01, 9.98055117e-02, 2.12886361e-01, ...,
        9.13725728e-05, 5.18000527e-03, 3.65554026e-03],
       ...,
       [7.04130969e-02, 5.62401380e-02, 2.15549575e-01, ...,
        4.60129965e-01, 6.20391930e-01, 8.67741397e-01],
       [6.12007407e-02, 7.31239221e-02, 1.40650111e-01, ...,
        4.68682803e-01, 6.18837997e-01, 8.63127002e-01],
       [8.41469654e-02, 7.05845657e-02, 1.31118900e-01, ...,
        4.60814178e-01, 6.37140640e-01, 8.57613740e-01]])

In [22]:
X_scaled_df=pd.DataFrame(X_scaled, columns=X.columns)
X_scaled_df.head()

,acn_volume,adbe_volume,amd_volume,crm_volume,ibm_volume,intc_volume,intu_volume,nflx_volume,sony_volume,txn_volume,...,acn_low,adbe_low,amd_low,crm_low,ibm_low,intc_low,intu_low,nflx_low,sony_low,txn_low
0,0.062815,0.182459,0.128550,0.084629,0.091309,0.781663,0.057730,0.183160,0.258856,0.380619,...,0.001190,0.000000,0.005308,0.021463,0.834330,0.019699,0.011887,0.000444,0.000000,0.004974
1,0.101015,0.069216,0.108113,0.103218,0.162170,0.256461,0.053094,0.113657,0.225835,0.372886,...,0.002292,0.000327,0.005308,0.020062,0.836027,0.019699,0.011839,0.000000,0.005439,0.005633
2,0.110354,0.099806,0.212886,0.075203,0.307495,0.207162,0.073863,0.384079,0.086640,0.263230,...,0.004178,0.000826,0.006343,0.021021,0.911589,0.019911,0.012957,0.000091,0.005180,0.003656
3,0.074953,0.073994,0.099973,0.065385,0.088260,0.297676,0.086726,0.618288,0.127722,0.210752,...,0.004874,0.000982,0.006861,0.024091,0.909326,0.017581,0.012701,0.009144,0.007597,0.004914
4,0.085750,0.098484,0.103488,0.087235,0.058743,0.576830,0.076235,1.000000,0.182337,0.229658,...,0.005832,0.001029,0.007832,0.026046,0.917812,0.016522,0.012685,0.010416,0.015281,0.003116

In [28]:
X_scaled_df.describe()

,acn_volume,adbe_volume,amd_volume,crm_volume,ibm_volume,intc_volume,intu_volume,nflx_volume,sony_volume,txn_volume,...,acn_low,adbe_low,amd_low,crm_low,ibm_low,intc_low,intu_low,nflx_low,sony_low,txn_low
count,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,...,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000,2516.000000
mean,0.066788,0.088253,0.158303,0.076908,0.093270,0.135455,0.081439,0.059796,0.036979,0.142692,...,0.279716,0.301406,0.201566,0.323844,0.485339,0.426699,0.256244,0.331279,0.326268,0.401120
std,0.042199,0.063034,0.117906,0.063683,0.073335,0.085125,0.054704,0.064444,0.043382,0.084596,...,0.239097,0.264783,0.241738,0.244102,0.186626,0.245529,0.236348,0.254575,0.257424,0.294545
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.043209,0.050350,0.066452,0.042719,0.053638,0.082643,0.048770,0.022572,0.015106,0.088496,...,0.079320,0.065034,0.013981,0.121589,0.356212,0.235120,0.065152,0.111837,0.112536,0.129517
50%,0.057537,0.073254,0.133949,0.062081,0.075215,0.116612,0.069525,0.041819,0.024728,0.122210,...,0.227182,0.233396,0.074082,0.264014,0.445289,0.353209,0.168192,0.263288,0.285332,0.380835
75%,0.078826,0.107633,0.216717,0.089697,0.107510,0.162660,0.097694,0.076599,0.043803,0.172549,...,0.427404,0.475742,0.351414,0.463250,0.577643,0.631858,0.385976,0.509933,0.499655,0.589486
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
X_scaled_df.to_csv("Scaled_tech_data.csv")