In [9]:
import pandas as pd
import os

# File to Load
mat_data = "All_Material.csv"

# Read file
mat_df = pd.read_csv(mat_data)

In [10]:
#Displaying table
mat_df.head()

,date,alb_volume,apd_volume,dd_volume,ecl_volume,fcx_volume,lyb_volume,nem_volume,ppg_volume,scco_volume,...,alb_low,apd_low,dd_low,ecl_low,fcx_low,lyb_low,nem_low,ppg_low,scco_low,shw_low
0,2013-01-18,754700,1255473,5793772,941100,16631200,2672400,6738100,11176800,1869800,...,64.330002,81.211838,47.665302,73.019997,33.570000,61.529999,44.459999,68.875000,40.750000,53.926666
1,2013-01-22,1056600,1126510,5154188,1100000,28594800,3583900,7030700,11673200,2119400,...,63.980000,81.665123,47.992657,73.470001,34.000000,61.459999,44.560001,70.519997,41.080002,54.306667
2,2013-01-23,2728900,2117571,6846278,1091100,12277800,4122200,5962300,23592400,2218700,...,63.880001,81.017578,47.907261,73.139999,34.799999,61.160000,44.700001,70.930000,41.599998,54.463333
3,2013-01-24,1892000,1272121,7739222,898400,13212000,2664000,5554200,20920000,3098900,...,60.709999,80.804810,48.633125,73.019997,34.520000,62.209999,43.889999,71.264999,41.049999,54.939999
4,2013-01-25,1025300,1107160,5566408,736000,13130400,2332800,7200500,26017800,2031100,...,61.419998,81.350601,49.017410,72.779999,34.349998,62.180000,42.959999,71.334999,40.869999,55.033333

In [12]:
#Checking data types
mat_df.dtypes

date            object
alb_volume       int64
apd_volume       int64
dd_volume        int64
ecl_volume       int64
fcx_volume       int64
lyb_volume       int64
nem_volume       int64
ppg_volume       int64
scco_volume      int64
shw_volume       int64
alb_high       float64
apd_high       float64
dd_high        float64
ecl_high       float64
fcx_high       float64
lyb_high       float64
nem_high       float64
ppg_high       float64
scco_high      float64
shw_high       float64
alb_low        float64
apd_low        float64
dd_low         float64
ecl_low        float64
fcx_low        float64
lyb_low        float64
nem_low        float64
ppg_low        float64
scco_low       float64
shw_low        float64
dtype: object

In [39]:
X = mat_df.iloc[:, 1:31]

X

,alb_volume,apd_volume,dd_volume,ecl_volume,fcx_volume,lyb_volume,nem_volume,ppg_volume,scco_volume,shw_volume,...,alb_low,apd_low,dd_low,ecl_low,fcx_low,lyb_low,nem_low,ppg_low,scco_low,shw_low
0,754700,1255473,5793772,941100,16631200,2672400,6738100,11176800,1869800,2851500,...,64.330002,81.211838,47.665302,73.019997,33.570000,61.529999,44.459999,68.875000,40.750000,53.926666
1,1056600,1126510,5154188,1100000,28594800,3583900,7030700,11673200,2119400,2531400,...,63.980000,81.665123,47.992657,73.470001,34.000000,61.459999,44.560001,70.519997,41.080002,54.306667
2,2728900,2117571,6846278,1091100,12277800,4122200,5962300,23592400,2218700,2171100,...,63.880001,81.017578,47.907261,73.139999,34.799999,61.160000,44.700001,70.930000,41.599998,54.463333
3,1892000,1272121,7739222,898400,13212000,2664000,5554200,20920000,3098900,2748600,...,60.709999,80.804810,48.633125,73.019997,34.520000,62.209999,43.889999,71.264999,41.049999,54.939999
4,1025300,1107160,5566408,736000,13130400,2332800,7200500,26017800,2031100,2355600,...,61.419998,81.350601,49.017410,72.779999,34.349998,62.180000,42.959999,71.334999,40.869999,55.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,896500,608400,1788400,1049700,16052500,4294800,4132300,981600,1880200,865800,...,220.669998,308.149994,72.839996,148.820007,43.009998,90.190002,52.220001,126.870003,69.720001,232.619995
2512,1931400,835100,2250700,1039200,18910300,1989900,6124700,1417500,2147700,1459100,...,227.449997,312.160004,74.070000,152.710007,44.230000,91.220001,52.060001,129.679993,72.680000,236.740005
2513,1462200,1194800,2602600,854300,12834900,1389900,6115600,1044500,2095200,1077600,...,235.660004,308.899994,74.070000,152.850006,44.240002,92.139999,52.610001,130.529999,73.089996,238.550003
2514,1262500,787900,3434200,728100,11107700,1297600,6544800,871200,2650900,827100,...,233.339996,307.070007,73.680000,151.529999,44.480000,92.440002,53.250000,130.360001,75.220001,241.029999
2515,1354300,1252900,3498000,1754700,12644000,1953000,7040800,1689700,2530100,1379100,...,241.759995,306.010010,73.959999,151.289993,44.040001,91.250000,52.230000,129.550003,74.760002,244.800003

In [40]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [41]:
scaler = MinMaxScaler().fit(X)

scaler

MinMaxScaler()

In [42]:
X_scaled = scaler.transform(X)

X_scaled

array([[0.02245367, 0.07358628, 0.07418237, ..., 0.04094497, 0.32426955,
        0.00875616],
       [0.03467866, 0.06490203, 0.06417834, ..., 0.05505058, 0.32984297,
        0.01002938],
       [0.102396  , 0.13163912, 0.09064512, ..., 0.0585663 , 0.3386252 ,
        0.0105543 ],
       ...,
       [0.05110284, 0.06950062, 0.02426774, ..., 0.56962785, 0.87046098,
        0.62734962],
       [0.04301628, 0.04210036, 0.03727519, ..., 0.56817014, 0.90643471,
        0.63565902],
       [0.04673359, 0.07341301, 0.03827312, ..., 0.56122452, 0.89866577,
        0.64829069]])

In [47]:
scaled_df = pd.DataFrame(X_scaled, columns= ['alb_volume','apd_volume','dd_volume','ecl_volume','fcx_volume','lyb_volume','nem_volume','ppg_volume','scco_volume','shw_volume','alb_high','apd_high','dd_high','ecl_high','fcx_high','lyb_high','nem_high',	'ppg_high','scco_high','shw_high','alb_low','apd_low',	'dd_low','ecl_low','fcx_low','lyb_low','nem_low','ppg_low','scco_low','shw_low'
])

scaled_df

,alb_volume,apd_volume,dd_volume,ecl_volume,fcx_volume,lyb_volume,nem_volume,ppg_volume,scco_volume,shw_volume,...,alb_low,apd_low,dd_low,ecl_low,fcx_low,lyb_low,nem_low,ppg_low,scco_low,shw_low
0,0.022454,0.073586,0.074182,0.018127,0.090951,0.182350,0.062255,0.422911,0.138224,0.120624,...,0.082632,0.014210,0.241277,0.006326,0.633966,0.319844,0.417013,0.040945,0.324270,0.008756
1,0.034679,0.064902,0.064178,0.022292,0.177978,0.251126,0.065874,0.442213,0.158947,0.105525,...,0.081372,0.016067,0.245362,0.009090,0.643038,0.319039,0.418448,0.055051,0.329843,0.010029
2,0.102396,0.131639,0.090645,0.022059,0.059282,0.291743,0.052658,0.905689,0.167191,0.088529,...,0.081012,0.013414,0.244296,0.007063,0.659916,0.315590,0.420456,0.058566,0.338625,0.010554
3,0.068507,0.074707,0.104612,0.017008,0.066078,0.181716,0.047609,0.801773,0.240268,0.115770,...,0.069603,0.012543,0.253354,0.006326,0.654008,0.327662,0.408837,0.061439,0.329336,0.012151
4,0.033411,0.063599,0.070626,0.012752,0.065485,0.156726,0.067975,1.000000,0.151616,0.097232,...,0.072159,0.014778,0.258149,0.004852,0.650422,0.327317,0.395496,0.062039,0.326296,0.012464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,0.028196,0.030013,0.011532,0.020974,0.086741,0.304766,0.030020,0.026473,0.139088,0.026958,...,0.645289,0.943800,0.555421,0.471871,0.833122,0.649345,0.528332,0.538244,0.813545,0.607481
2512,0.070102,0.045279,0.018764,0.020699,0.107530,0.130852,0.054667,0.043423,0.161296,0.054944,...,0.669690,0.960226,0.570770,0.495762,0.858861,0.661186,0.526036,0.562339,0.863537,0.621285
2513,0.051103,0.069501,0.024268,0.015852,0.063335,0.085580,0.054554,0.028919,0.156938,0.036948,...,0.699237,0.946872,0.570770,0.496622,0.859072,0.671764,0.533926,0.569628,0.870461,0.627350
2514,0.043016,0.042100,0.037275,0.012545,0.050771,0.078616,0.059863,0.022180,0.203073,0.025132,...,0.690887,0.939376,0.565903,0.488515,0.864135,0.675213,0.543107,0.568170,0.906435,0.635659
2515,0.046734,0.073413,0.038273,0.039453,0.061946,0.128068,0.065999,0.054007,0.193044,0.051170,...,0.721190,0.935034,0.569397,0.487041,0.854852,0.661531,0.528475,0.561225,0.898666,0.648291

In [50]:
scaled_df.to_csv("mat_scaled.csv")